# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/

# Data directories
data/
model/

# Uploaded images
static/uploads/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# macOS files
.DS_Store
